.carousel-item img {
    height: 100vh;
    object-fit: contain;
}

.a1 {
    padding-top: 0px;
    padding-right: 100px;
    padding-left: 100px;
}

.image {
    width: 50px;
}

.carousel-control-prev-icon {
    background-image: url("../images/left-arrow.png") !important;
    z-index: 1000;
}

.carousel-control-next-icon {
    background-image: url("../images/right-arrow.png") !important;
    z-index: 1000;
}