.carousel-item img {
    max-height: 900px;
    object-fit: contain;
    height: 600px;
}

.a1 {
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
}

.a2 {
    padding-top: 50px;
}

.image {
    width: 50px;
}

.carousel-control-prev-icon {
    background-image: url("../images/left-arrow.png") !important;
    z-index: 1000;
}

.carousel-control-next-icon {
    background-image: url("../images/right-arrow.png") !important;
    z-index: 1000;
}

.sponsor {
    width: 200px;
    padding: 10px;
    opacity: 0.5;
}

.sponsor:hover {
    opacity: 1;
    transition: 0.3s opacity ease;
}

.b1 {
    padding-top: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-width: 450px) {
    .a1 {
        padding-top: 50px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 20px;
    }
    .carousel-item img {
        max-height: 400px;
        object-fit: contain;
    }
}

@media only screen and (max-width: 600px) and (min-width: 450px) {
    .a1 {
        padding-top: 50px;
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 20px;
    }
    .carousel-item img {
        max-height: 400px;
        object-fit: contain;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}