.body {
    overflow-x: hidden;
    -webkit-overflow-x: hidden;
}

.container-1 {
    padding-top: 50px;
    width: 700px !important;
}

.heading1 {
    padding-left: 20px;
}

.box {
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}

.maps {
    overflow-x: hidden;
    -webkit-overflow-x: hidden;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .container-1 {
        display: inline;
    }
    .body {
        overflow-x: hidden;
        -webkit-overflow-x: hidden;
    }
    h1 {
        font-size: 20pt;
    }
    .maps {
        overflow-x: hidden;
        -webkit-overflow-x: hidden;
    }
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        -webkit-overflow-x: hidden;
    }
    .maps {
        overflow-x: hidden;
        -webkit-overflow-x: hidden;
    }
}