.right-cell {
    height: 700px;
    overflow: auto;
    margin: 0px;
    padding: 0px;
}

.container-1 {
    padding: 50px;
}

.square {
    padding: 5px;
}

.main-image {
    padding: 5px;
}

.square:hover {
    opacity: 50%;
}

.project-text {
    padding: 20px;
}