@font-face {
    font-family: 'latoregular';
    src: url('lato-regular-webfont.woff2') format('woff2'), url('lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karlaregular';
    src: url('karla-regular-webfont.woff2') format('woff2'), url('karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cotham Sans';
    src: url('CothamSans.woff2') format('woff2'), url('CothamSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.square {
    width: 600px;
    object-fit: cover;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.project-desc {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-family: 'Cotham Sans';
    src: url('CothamSans.woff2') format('woff2'), url('CothamSans.woff') format('woff');
    font-weight: bold;
}

.a1 {
    padding-top: 50px;
}

.a2 {
    padding-top: 25px;
}

.b2 {
    padding-left: 30px;
    max-height: 200px;
    padding-bottom: 20px;
}

.b3 {
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    margin-bottom: 50px;
}

h2 {
    font-family: 'latoregular';
    src: url('lato-regular-webfont.woff2') format('woff2'), url('lato-regular-webfont.woff') format('woff');
    font-size: 9pt;
    padding-bottom: 15px;
    margin: 0px;
}

.sticky-top {
    z-index: 0;
}

.project {
    padding: 30px;
}

.project:hover .square {
    opacity: 0.3;
    transition: opacity 0.5s;
}

.project:hover .project-desc {
    opacity: 1;
}

.project:hover .project-text {
    color: black;
}

.project:hover .project-desc .student-name {
    opacity: 1;
    color: black;
    transition: color 0.3s;
}

.project-text {
    font-family: 'Cotham Sans';
    src: url('CothamSans.woff2') format('woff2'), url('CothamSans.woff') format('woff');
    font-size: 24pt;
    color: #E4F0F7;
    padding: 0px;
    margin: 0px;
}

.p2 {
    font-family: 'latoregular';
    src: url('lato-regular-webfont.woff2') format('woff2'), url('lato-regular-webfont.woff') format('woff');
    font-size: 15pt;
    font-weight: lighter;
}

.p-2 {
    padding: 0px !important;
    margin: 0px;
}

.student-name {
    opacity: 0;
}


/* smartphones, touchscreens */

@media (hover: none) and (pointer: coarse) {
    .student-name {
        display: contents;
        color: black;
        padding: 20px;
    }
    .project-text {
        display: contents;
        font-size: 9pt;
        color: black;
    }
    .p2 {
        font-size: 9pt;
        font-weight: bold;
    }
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .project {
        padding: 20px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
    .project-text {
        font-size: 15pt;
    }
    .p2 {
        font-size: 15pt;
        font-weight: bold;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and down) */

@media only screen and (max-width: 768px) {
    .b2 {
        display: none;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}