.u-section-1 {min-height: 1395px}
.u-section-1 .u-layout-wrap-1 {width: 1223px; margin: 60px 0 60px auto}
.u-section-1 .u-layout-cell-1 {min-height: 449px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {margin: 0 auto}
.u-section-1 .u-text-2 {animation-duration: 1000ms; margin: 0 auto 0 155px}
.u-section-1 .u-text-3 {margin: 24px auto 0 0}
.u-section-1 .u-layout-cell-2 {min-height: 449px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-image-1 {height: 344px; margin: -12px -60px 0 auto}
.u-section-1 .u-image-2 {width: 255px; height: 255px; margin: 38px 0 0 auto}
.u-section-1 .u-image-3 {width: 255px; height: 255px; margin: -255px auto 0 0}
.u-section-1 .u-image-4 {width: 255px; height: 255px; margin: 38px 0 0 auto}
.u-section-1 .u-image-5 {width: 255px; height: 255px; margin: -255px auto 0 0}
.u-section-1 .u-image-6 {width: 255px; height: 255px; margin: 30px 0 0 auto}
.u-section-1 .u-image-7 {width: 255px; height: 255px; margin: -255px auto 0 0} 

@media (max-width: 1199px){ .u-section-1 {min-height: 1329px}
.u-section-1 .u-layout-wrap-1 {width: 940px; min-height: 934px}
.u-section-1 .u-layout-cell-1 {min-height: 1096px}
.u-section-1 .u-layout-cell-2 {min-height: 1096px}
.u-section-1 .u-image-1 {height: 256px; margin-top: 578px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-2 {margin-top: -827px}
.u-section-1 .u-image-3 {margin-top: -294px}
.u-section-1 .u-image-4 {margin-top: 39px}
.u-section-1 .u-image-6 {margin-top: -264px} }

@media (max-width: 991px){ .u-section-1 {min-height: 996px}
.u-section-1 .u-layout-wrap-1 {width: 720px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-image-1 {height: 187px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-2 {margin-top: -750px} }

@media (max-width: 767px){ .u-section-1 {min-height: 1243px}
.u-section-1 .u-layout-wrap-1 {width: 540px; min-height: 1598px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-2 {margin-left: 269px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {height: 324px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-2 {margin-top: -904px} }

@media (max-width: 575px){ .u-section-1 {min-height: 1080px}
.u-section-1 .u-layout-wrap-1 {width: 340px; min-height: 1016px}
.u-section-1 .u-image-1 {height: 199px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-2 {margin-top: -764px} }